.gameMenuContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    background-color: #4c4449;
}

.gameMenuInput {
    width: 60%;
    font-size: 3.5vw;
    color: rgb(243, 189, 73);
    text-shadow: 0 0.1vw 0 rgb(209, 133, 61);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2vw;
}

.gameMenuInput input {
    font-family: "dungeonFont";
    color: rgb(167, 109, 56);
    text-shadow: 0 0.12vw 0 rgb(134, 83, 48);
    background-color: rgb(243, 189, 73);
    border: 2px solid rgb(243, 189, 73);
    font-size: 3.5vw;
    margin-top: 10px;
}

.starterPackContainer {
    padding: 2vw;
}

.selectStarterPackText {
    font-size: 3.5vw;
    color: rgb(243, 189, 73);
    text-shadow: 0 0.1vw 0 rgb(209, 133, 61);
}

.starterPackItemsContainer {
    margin-top: 20px;
    display: flex;
    gap: 5vw;
    flex-wrap: nowrap;
}

.starterPackItemBox {
    width: 17vw;
    height: 23vh;
    text-align: center;
    border-image-slice: 18 15 15 15;
    border-image-width: 20px 20px 20px 20px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: repeat repeat;
    border-image-source: url("../assets/UI/roomBorder.png");
    border-style: solid;
}

.starterPackItemText {
    padding-top: 1vw;
    font-size: 1.8vw;
    color: rgb(243, 189, 73);
    text-shadow: 0 0.06vw 0 rgb(209, 133, 61);
}

.starterPackItems {
    display: flex;
    padding: 0.5vw 1vw;
}

.starterPackItem {
    -o-object-fit: contain;
    object-fit: contain;
}

.small {
    width: 4vw;
    height: 4vw;
}

.big {
    width: 7vw;
    height: 7vw;
}

.offset-1 {
    margin-top: 1.2vw;
    margin-left: -0.5vw;
}

.offset-2 {
    margin-top: 3vw;
    margin-left: -7vw;
}

.starterPackButtonsContainer {
    margin: 7vw 2vw 2vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.starterPackButton {
    position: relative;
    font-size: 4vw;
    margin-bottom: 3vw;
    color: rgb(235, 131, 34);
    text-shadow: 0 0.25vw 0 rgb(158, 90, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 1s;
}

.starterPackButton:hover {
    color: rgb(240, 185, 6);
    text-shadow: 0 0.25vw 0 rgb(206, 116, 31);
    top: 5px;
    cursor: pointer;
}